*{
    padding: 0%;
    margin: 0%;
    bottom: 0%;
}

.background{
    width: 150%;
    height: 100%;
}

.longtext{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.8);
    height: 60%;
    width: 80%;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 220px;
    margin-right: 30px;
    margin-left: 120px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 30px;
    margin-right: 59px;
    text-align: justify;
    line-height: 30px;
    padding-left: 40px;
    padding-bottom: 5px;
}

.head{
    color: white;
    text-align: center;
    background-image: linear-gradient(0, 0, 0, 0.6);
    background-image: -webkit-linear-gradient(0, 0, 0, 0.6);
    padding-top: 20px;
    text-underline-offset: 8px;
}

.background{
    height: 110%;
    width: 100%;
    background-size: cover;
}

.subpara{
    position: relative;
    top: 100px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    height: 260px;
    width: 580px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: -50px;
    margin-top: -40px;
    text-underline-offset: 3px;
}

.subtext{
    position: relative;
    color: white;
    background-color: rgba(0,0,0,0.8);
    float: right;
    height: 170px;
    width: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 700px;
    margin-bottom: 80px;
    margin-top: -175px;
    text-underline-offset: 5px;
}